<div class="header" navbar navbar-inverse navbar-fixed-top>

    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="/#/home">Inicio</a></li>
        <li><a ng-href="#">Fotografos</a></li>
        <li><a ng-href="#">Blog</a></li>
        <li><a ng-href="/#/register">Registro</a></li>
        <li><a ng-href="#">Contacto</a></li>
    </ul>
    <div class="logo">
        <img src="/images/logo.png" alt="Fotógrafos para tu boda" width="221px" height="69px">
    </div>
</div>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fotografos para bodas</title>
</head>
<body>
<div class="hero-unit">
    Selecciona la provincia
    <select ng-model="region" ng-options="r.name for r in regions"></select>

<br>
    <hr>
<br>

<!--<div ng-if="photogrphersByRegion.length != 0">-->
    Hay {{photogrphersByRegion.length}} fotografos en la region.
    <input ng-model="search" placeholder="buscar fotografo..." />
<!--</div>-->
<br>
<br>
<ul class="example-animate-containe">
    <li class="animate-repeat" ng-repeat="photo in photogrphersByRegion | filter : search">
        {{photo.name}} {{photo.surname}} - empresa {{photo.company}} - sitio {{photo.website}}
    </li>
</ul>
</div>

</body>
</html>