
<div class="header" navbar navbar-inverse navbar-fixed-top>

    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="/#/home">Inicio</a></li>
        <li><a ng-href="#">Fotografos</a></li>
        <li><a ng-href="#">Blog</a></li>
        <li><a ng-href="/#/register">Registro</a></li>
        <li><a ng-href="#">Contacto</a></li>
    </ul>
    <div class="logo">
        <img src="/images/logo.png" alt="Fotógrafos para tu boda" width="221px" height="69px">
    </div>
</div>
<div class="hero-unit">
    <h2>Registro para fotografos</h2>

    <form class="hero-unit" ng-submit="addPhotographer(user)">
        Nombre de tu empresa: <input type="text" ng-model="user.company" /><br/>
        Nombre de contacto: <input type="text" ng-model="user.name" /><br/>
        Email: <input type="text" ng-model="user.email"  /><br/>
        Ciudad: <input type="text" ng-model="user.region" /><br/>
        Web: <input type="text" ng-model="user.website" /><br/>
        Mensaje: <input type="text" ng-model="user.message" /><br/>
        Opciones: <input type="radio" ng-model="user.services" value="Fotografia" />fotografia
        <input type="radio" ng-model="user.services" value="Video" />fotografia y video<br />

        <input type="submit" class="btn btn-primary" value="Guardar"/>
    </form>

</div>